<%- include ('../partials/header.ejs') %>
<div class="container">
  <h1 class="text-center mb-3 mt-5">Edit <%= campground.name %></h1>
  <div style="width:30% ;margin:0 auto">
  <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <input class="form-control mb-4" type="text" name="campground[name]" value="<%= campground.name %>">
    <input class="form-control mb-4" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01">
    <input class="form-control mb-4" type="text" name="campground[image]" value="<%=campground.image %>">
    <input class="form-control mb-4" type="text" name="campground[description]" value="<%=campground.description %>">
    <button class="btn btn-lg btn-primary btn-block " type="submit" name="submit">Submit</button>
  </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
